<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Yesh-Guestbook</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="guestbook.css">
<link rel="stylesheet" href="style.css">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">
<nav>
			<ul>
				<li><a>Salary Calculator</a></li>
				<li><a href="/index">Home</a></li>
				<li><a href="/salary">Emp Salary</a></li>
        		<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/guestbook">Guestbook</a></li>
			</ul>
</nav>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>