<% include header %>
<h2>Write a new entry</h2>
<form method="post" role="form">
<div class="form-group">
<label for="title">Title</label>
<input type="text" class="form-control" id="title" name="title" placeholder="Enter name" required>
</div>
<div class="form-group">
<label for="content">Entry text</label>
<textarea class="form-control" id="body" name="body" placeholder="Enter message" rows="3" required></textarea>
</div>
<div class="col-sm-12 text-center">
      <button type="submit" value="Post Entry" class="btn btn-default">Post Entry</button>
</div>
</form>
<% include footer %>