h1.italic {
    color: white;
    font-style: italic;
}

h5.times {
    font-family: "Times New Roman", Times, serif;
    color: white;
}
h2 {
    color:  red;
}
ul.about{
  color:white;
  text-align: center;
  list-style-type: circle;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    color:white;
}

h3{
    text-align: left;
    color: red;
    line-height: 1.5em;
    font-family: "Times New Roman", Times, serif;

}

ul.about{
    text-align: justify;
    list-style-type: square;
    font-family: "Times New Roman", Times, serif;
    color: white;
    line-height: 1.5em;
    background-color: white;
}

li {
    float: left;
}

p {
    color:  #FFFAF0;
    text-align: justify;
    line-height: 1.5;
}
p.italic{
    font-style: italic;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#yeswanth{
    clear: left;
    float: right;
    margin: 20px 0 auto 0;
     box-shadow: black 0px 0px 0px;
}

body{
    background: url("background.jpeg");
    background-size: 1376px 768px;
}

.wrapper{
    width: 80%;
    margin: 7em auto;
}

#alligning{

  position:relative;
   top:50%;
   
}

label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
}

label {
    color: white;
    font-size: 15px;
}

form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form {
    width: 300px;
    color: red;
}

#page_design h1{
    color: white;
    padding: 2px 2px 2px 7px;  
}

#page_design p {
   line-height: 1.4em;
   background: gray;
   padding: 10px 10px;
   opacity: 0.8;
   box-shadow: black 0px -2px 10px;
   text-align: center;
}

iframe {
    margin: 20px 0px 0px 0px;
    box-shadow: black 2px 2px 7px;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: lightblue;
  text-color: black;
  text-align: center;
}
ul.pagination {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: #ffa500;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 18px;
    background-color: black;
}

ul.pagination li a.active {
    background-color: #000000;
    color: black;
    border: 1px solid green;
}

ul.pagination li a:hover:not(.active) {background-color: green;}


li a:hover:not(.active) {
    background-color: green;
}

.active {
    background-color: #ffa500;
}


/**contact**/

.ccheader {
    left:30%;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
}

.ccheader h1 {
  left:30%;
    margin: 0;
    color: red;
    /*font-style: bold;*/
    font-weight: 300;
    font-size: 2em;
    line-height: 1.3;
}
.allign{
  left:30%;
}

.container form {
  
  background-color: black;
  color: #FFFAFA;
  text-align: left;
  padding-top: 20px;
}

.container label {
  
  display: none;
}

.container input,
.container textarea {
  
  /* to create space for placing icon*/
  padding-left: 32px;
  border-color: transparent;
  background-color: #FFFAFA;
  border-radius: 0px;
}

.container .btn-default {
  
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 15px 36px;
  background-color: #ffa500;
  border-radius: 0px;
  border: 0px;
  color: #F1F1F1;
}

.container .btn-default:hover,
.container .btn-default:focus {
  background-color: #049DDF;
  color: #F1F1F1;
  border-color: transparent;
  outline: 0px auto -webkit-focus-ring-color;
}

/*position should be relative and z-index greater than one*/
.container .icon {
  
  position: relative;
  float: left;
  margin-left: 8px;
  margin-top: -24px;
  z-index: 2;
  color: #222222;
}

.container .icon-textarea {

  float: left;
  margin-left: 8px;
  margin-top: -104px;
  position: relative;
  z-index: 2;
  color: #222222;
}

/* calculation*/


.box
{
background-color:black;
height:350px;
width:300px;
border-radius:0px;
position:relative;
top:85px;
left:40%;
} 

.display
{
background-color:#222;
width:220px;
position:relative;
left:15px;
top:20px;
height:40px;
}
.display input
{
position:relative;
left:2px;
top:2px;
height:35px;
color:black;
background-color:#bccd95;
font-size:21px;
text-align:right;
} 

.keys
{
position:relative;
top:15px;
}
.button
{
width:40px;
height:30px;
border:none;
border-radius:8px;
margin-left:17px;
cursor:pointer;
border-top:2px solid transparent;
}
.button.gray
{
color:white;
position: center;
background-color:red;
border-bottom:black 2px solid;
border-top:2px red solid;
}
.button.pink
{
color:black;
background-color:#ff4561;
border-bottom:black 2px solid;
}
.button.black
{
color:white;
background-color:green;
border-bottom:black 2px solid;
border-top:2px green solid;
}
.button.orange
{
color:black;
background-color:orange;
border-bottom:black 2px solid;
border-top:2px or solid;
}
.gray:active
{
border-top:black 2px solid;
border-bottom:2px #6f6f6f solid;
}
.pink:active
{
border-top:black 2px solid;
border-bottom:#ff4561 2px solid;
}
.black:active
{
border-top:black 2px solid;
border-bottom:#303030 2px solid;
}
.orange:active
{
border-top:black 2px solid;
border-bottom:FF9933 2px solid;
}
p
{
line-height:10px;
}